@charset "utf-8";

/* CSS Document */
@font-face {
	font-family: 'Copperplate Gothic Bold', 'Copperplate Gothic Light';
	font-style: normal;
	font-weight: 300;
	src: local('Copperplate Gothic Bold'), local('Copperplate Gothic Light'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


* {
	font-family: 'Copperplate Gothic Bold', 'Copperplate Gothic Light';
	margin: 0px;
}
body{background-color:black;}

div.header {
	position: sticky;
	top: 0px;
	background-color: white;
	padding: 15px;
	width: auto;
	max-height: 45px;
	z-index: 20;
}

div h1.head{
    text-align: center;
    color: Black;
    background-color: white;
    padding-top: 0px;
    font-size: 50px;
    word-spacing: 5px;
}

a.menu {
	padding: 9px 7px 0px 7px;
	
}
a.donatebtn 
{
	text-align: center;
	margin-right: 10px;
	border: 1px solid lightblue;
	border-radius: 10px;
	padding: 7px;
	background-color: lightblue;
}
a.logo {
	float: left;
	margin-left: 15px;
	background-color:white;
}
img.ll {
	margin-top: 4px;
	transition: width 100ms, height 100ms;
}
.ll:hover {
	width: 260px;
	height: 45px;
}
ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color:white;

}
li {
	float: right;
}
li a {
	font-family: 'Copperplate Gothic Bold';
	font-size: 20px;
	display: block;
	color:black;
	padding: 12px;
	text-align: center;
	margin-left: 10px;
	text-decoration: none;
	transition: font-size 175ms;
}
#active {
	color: lightblue;
	font-size: 21px;
}
li a.menu:hover:not(#active) {
	color: lightblue;
	font-size: 22px;
}
li a.menu:hover {
	color: blue;
	font-size: 22px;
}
li a.donatebtn:hover {
	font-size: 22px;
}
.bgpic {
	z-index: -1;
	position: absolute;
}
div.aboutarea {
	background-color: black;
	margin-top: 2em;
	text-align: center;
	color:white;
    padding-top: 100px;
}
.sub {
	padding-top: 15px;
	font-family: 'Copperplate Gothic Bold', 'Copperplate Gothic Light';
	letter-spacing: 10px;
	color: lightblue;
	z-index: -1;
	font-size: 80px;
	text-align: center;
}
.define {
	padding: 10px 0px 0px 0px;
	font-size: 25px;
	margin-left: 15%;
	width: 75%;
	text-align: justify;
}
div.services {
	margin-top: 4em;
	text-align: center;
}
div.donate {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 30%;
}
.subdonate {
	margin-top: 10px;
	font-size: 20px;
	color:white;
}

div.icon1 {
	background: white;
	border: 1px solid white;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}
.heart {
	padding: 30%;
}
div.icon2 {
	background: white;
	border: 1px solid white;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}
div.homeless {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 30%;
}
.begging {
	padding: 30%;
}
.home {
	font-size: 20px;
	color:white;
}
div.icon3 {
	background: white;
	border: 1px solid white;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}
div.fund {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 30%;
}
.funds {
	padding: 30%;
}
.fundss {
	margin-top: 10px;
	font-size: 20px;
	color:white;
}
div.volunteer {
	background-color: black;
	margin-top: 2em;
	text-align: center;
}
.vs
{
	color:white;
}
div.volunteer1 {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 20%;
	margin-top: 20px;
	border-radius: 100px;
}
.v {
	margin-top: 15px;
	border-radius: 10px;
	object-fit: cover;
}
.cdesc {
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	width: 60%;
	color:white;
}
div.volunteer2 {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 20%;
	margin-top: 20px;
	border-radius: 100px;
}
div.volunteer3 {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 20%;
	margin-top: 20px;
	border-radius: 100px;
}
div.volunteer4 {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 20%;
	margin-top: 20px;
	border-radius: 100px;
}
div.footer {
	background-color: Black;
}
div.name {
	display: inline-block;
	padding-top: 50px;
	margin-left: 50px;
	width: 20%;
	color: white;
	vertical-align: top;
}
.fdesc {
	margin-top: 15px;
}
div.donatelink {
	display: inline-block;
	vertical-align: top;
	margin-left: 12%;
	margin-top: 6.5%;
	width: 25%;
	color: white;
}
.donateb
{
	color:black;
	font-size: 20px;
	margin-top: 10px;
	width: 90%;
    border: 1px solid lightblue;
	border-radius: 10px;
	padding: 7px;
	background-color: lightblue;
}
div.newsletter {
	display: inline-block;
	margin-left: 12%;
	vertical-align: top;
	margin-top: 3.5%;
	width: 22%;
	color: white;
}
.subs {
	color: black;
	font-size: 20px;
	margin-top: 10px;
	width: 90%;
	border: 1px solid lightblue;
	border-radius: 5px;
	padding: 10px;
	background-color: lightblue;
	cursor:pointer;
}
.email {
	font-size: 20px;
	color: white;
	border-width: 0px;
	text-align: center;
	margin-top: 15px;
	border-radius: 5px;
	height: 50px;
	width: 90%;
	background-color: #2F2F2F;
}
.social
{
	cursor:pointer;
}
@media screen and (max-width:1255px) {
	.iname {
		font-size: 20px;
	}
}
@media screen and (max-width:670px) {
	li {
		display: block;
	}
}
@media screen and (max-width:800px) 
{
	div.donate,
	div.homeless,
	div.fund,
	div.volunter1,
	div.volunter2,
	div.volunter3,
	div.volunter4,
 {
		display: block;
		width: 100%;
		margin: auto;
		padding-top: 10px;
		margin-top: 25px;
		margin-bottom: 50px;
	}

	div.newsletter,
	div.name,
	div.donatelink {
		display: block;
		width: 100%;
		margin: auto;
		padding: 15px -20px;
	}

	div.footer {
		text-align: center;
	}

	div.volunteer1,
	div.volunteer2,
	div.volunteer3,
	div.volunteer4 {
		height: 100%;
		margin-top: 10px;
	}

}
@media screen and (max-width:1100px) and (min-width:800px) {
	div.newsletter {
		margin-left: 10%;
	}
}